.heading-3 {
  text-transform: uppercase;
  font-weight: var(--font-weight-semi-bold);
  font-size: 1.6rem;
}

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 1rem;

  &__heading {
    font-weight: var(--font-weight-semi-bold);
  }
}
