.heading-3 {
  text-transform: uppercase;
  font-weight: var(--font-weight-semi-bold);
  font-size: 1.6rem;

  @include respond(small-1) {
    font-size: 2.2rem;
  }
}

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 1rem;

  &__heading {
    font-weight: var(--font-weight-semi-bold);
  }
}
