.section {
  &__headings {
    border-top: 1px solid $color-primary-medium;
    border-bottom: 1px solid $color-primary-medium;
    background-color: $color-primary-light-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    grid-column: full-start / full-end;
    grid-row: heading-start / heading-end;
    position: relative;

    @include respond(small-1) {
      justify-content: center;
      padding: 3rem 0;
    }
  }

  &__main {
    grid-column: full-start / full-end;
    grid-row: main-start / main-end;
    display: flex;

    @include respond(small-1) {
      flex-direction: column;
    }
  }

  &__btn {
    text-decoration: none;
    border: none;
    cursor: pointer;
    position: absolute;
    background-color: inherit;
    height: 3.5rem;
    width: 3.5rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;

    @include respond(small-1) {
      display: none;
    }

    &__icon {
      height: 3.5rem;
      width: 3.5rem;
      fill: $color-primary-dark;
      transition: fill 0.3s;
    }

    &:hover,
    &:active,
    &:focus {
      svg {
        fill: darken($color-primary-dark, 15%);
      }
    }

    &--results {
      left: 1rem;
    }

    &--favourites {
      right: 1rem;
    }
  }
}

.heading {
  display: flex;
  align-items: center;

  &--results {
    @include respond(min-small-1) {
      margin-left: calc(var(--column-listing-width) / 2);
      transform: translateX(-50%);
    }
  }

  &--favourites {
    margin-right: calc(var(--column-listing-width) / 2 + 1rem);
    transform: translateX(50%);

    @include respond(small-1) {
      display: none;
    }
  }

  @include respond(small-1) {
    &--artwork {
      display: none;
    }
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.5rem;

    @include respond(small-1) {
      width: 3rem;
      height: 3rem;
    }

    &--results,
    &--artwork {
      stroke: $color-primary-dark;
    }

    &--artwork,
    &--favourites {
      fill: $color-primary-dark;
    }

    &--favourites {
      padding: 1px;
      transform: translateY(-1px);

      @include respond(min-small-1) {
        transform: translateY(-1px);
      }
      @include respond(small-1) {
        transform: translateY(-2px);
      }
    }
  }
}

.mobile-display {
  display: flex;

  @include respond(min-small-1) {
    display: none;
  }
}
