%message {
  display: flex;
  align-items: center;
  background-color: $color-primary-light-1;
  border: 1px solid $color-primary-medium;
  border-radius: 0.4rem;
  width: 100%;
}

%svg-icon {
  flex: none;
  fill: $color-primary-dark;
  stroke: $color-primary-dark;
}

.message-main {
  @extend %message;
  padding: 1rem 2rem;
  margin-bottom: 4rem;

  @include respond(small-3) {
    flex-direction: column;
    padding: 1rem;
  }

  &__icon {
    width: 5.5rem;
    height: 5.5rem;

    @include respond(small-3) {
      width: 4.5rem;
      height: 4.5rem;
    }

    &--error {
      @extend %svg-icon;
      width: 6.5rem;
      height: 6.5rem;

      @include respond(small-3) {
        width: 5.5rem;
        height: 5.5rem;
      }
    }
  }

  &__paragraph {
    font-size: 1.6rem;
    padding: 1rem;

    @include respond(small-3) {
      text-align: center;
    }
  }
}

.message-column {
  @extend %message;
  padding: 0.5rem 1rem;

  &__icon {
    width: 3.5rem;
    height: 3.5rem;

    &--error {
      @extend %svg-icon;
      width: 4rem;
      height: 4rem;
    }
  }

  &__paragraph {
    font-size: 1.4rem;
    padding: 0.5rem;

    @include respond(small-1) {
      margin-left: 0.5rem;
      font-size: 1.5rem;
    }
  }
}

.message-loading {
  @include respond(small-1) {
    text-align: center;
  }
  &__icon {
    margin-top: 2rem;
    stroke: $color-primary-dark;
    animation: rotate360 1.8s linear 0s infinite;

    &--main {
      width: 12rem;
      height: 12rem;
      margin-bottom: 14rem;
    }

    &--column {
      width: 10rem;
      height: 10rem;
    }
  }
}
