.favourites {
  grid-column: favourites-start / favourites-end;

  @include column-listing;
}

.favourites-show {
  @include respond(min-small-1) {
    animation: widthExpandRight 0.4s ease-out 0s 1 normal forwards,
      slideOutRight 0.2s ease-out 0.4s 1 normal forwards;
  }
}

.favourites-hide {
  @include respond(min-small-1) {
    animation: slideInRight 0.4s ease-in 0s 1 normal forwards,
      widthReduce 0.2s ease-in 0.4s 1 normal forwards;
  }
}
