.header {
  grid-column: full-start / full-end;
  grid-row: head-start / head-end;
  background-color: $color-primary-light-1;
  display: flex;

  @include respond(medium-2) {
    justify-content: space-between;
  }

  @include respond(small-1) {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    padding: 6rem 0 6rem 0;
  }

  &__form {
    align-self: center;
    margin-left: 2rem;
  }

  &__logo {
    height: 95%;
    margin-right: 2rem;

    @include respond(medium-3) {
      height: 70%;
      align-self: center;
    }

    @include respond(small-1) {
      margin: 0;
      height: 8rem;
      position: absolute;
      top: 0.5rem;
      left: 1rem;
    }
  }

  &__results-summary {
    align-self: flex-end;
    flex-shrink: 0;
    width: 20rem;
    height: 50%;
    text-align: center;
    font-size: 1.2rem;
    padding-left: 1rem;
    font-weight: var(--font-weight-medium);

    @include respond(medium-1) {
      font-size: 1.4rem;
    }

    @include respond(small-1) {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      width: 100%;
      height: min-content;
      text-align: left;
    }

    &--block {
      display: block;

      &:first-child {
        margin-bottom: 1rem;

        @include respond(small-1) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  &__info {
    flex-grow: 1;
    font-size: 1.2rem;
    margin: auto 3rem auto 5rem;

    @include respond(medium-1) {
      font-size: 1.4rem;
    }

    @include respond(medium-2) {
      display: none;
    }

    &--block {
      margin: 1rem 0;
      line-height: 1.4;
    }

    &--link {
      &,
      &:link,
      &:visited {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
      }

      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
        color: var(--color-AICtheme);
      }
    }
  }
}
